{% extends "../../blogs/templates/base.html" %}

{% block content %}
    <form action="" method="post" >
    {% csrf_token %}
        <div class="form-group">
            <label for="new_name">书名</label>
            <input type="text" class="form-control" name="new_name" value="{{ book_obj.name }}">
        </div>
        <div class="form-group">
            <label for="new_price">价格</label>
            <input type="number" class="form-control" name="new_price" value="{{ book_obj.price }}">
        </div>
        <div class="form-group">
            <label for="new_author">作者</label>
            <select multiple name="new_author" class="form-control">
                {% for author in author_list %}
                    {% if author in book_obj.authors.all %}
                        <option selected value="{{ author.id }}">{{ author.name }}</option>
                    {% else %}
                        <option value="{{ author.id }}">{{ author.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="new_publish_date">出版日期</label>
            <input type="date" class="form-control" name="new_publish_date" value="{{ book_obj.publish_date|date:"Y-m-d" }}">
        </div>
        <div class="form-group">
            <label for="new_publish">出版社</label>
            <select name="new_publish" class="form-control">
                {% for publish in publish_list %}
                    {% if publish.id == book_obj.publish_id %}
                        <option selected value="{{ publish.id }}">{{ publish.name }}</option>
                    {% else %}
                        <option value="{{ publish.id }}">{{ publish.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>


        <button type="submit" class="btn btn-default pull-right">提交</button>
        <button type="reset" class="btn btn-default pull-right">重置</button>
    </form>
{% endblock %}